/*
	Author: GAES 4 Smart Wash;
	version: 1.0;
	title: Smart Wash login;
	copyright: Smart Wash 2016 all rights reserved;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
 */


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,300&subset=latin,latin-ext);

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	text-decoration: none;
	border: none;
}

body, html { margin:0; height: 100%; width: 100%; font-weight: normal; position: relative; overflow-x: hidden; color: #555;  }

html { display: table; }
body { display: table-cell; vertical-align: middle; }

a { color: #555; }

a, img, label { -webkit-transition: all .25s;
   -moz-transition: all .25s;
    -ms-transition: all .25s;
     -o-transition: all .25s;
        transition: all .25s;
}


h1 { font-size: 25px; margin:10px 0; text-transform: uppercase; }

.button_div { display: block; width: 100%; margin: 10px 0; }
#button.btn { width: auto; display: inline-block; }

#button { display: block; border-radius: 3px; text-align: center; padding: 5px 15px; }

/* color blanco */

.cblanco { color:#FFF; }
.cblancoh:hover { color: #FFF !important; }

/* color 1 */

.color1 { color: #07303F; }
.color1h:hover { color: #07303F; }
.fondo1, .contenedor:before { background-color: #07303F; }
.fondoh1:hover { background-color: #07303F; }
.border1 { border-color: #07303F !important; }
.borderh1:hover { border-color: #07303F !important; }

/* color 2 */

.color2 { color: #168FBF; }
.color2h:hover { color: #168FBF; }
.fondo2, label:hover, .icon_form:focus { background-color: #168FBF; }
.fondoh2:hover { background-color: #168FBF; }
.border2 { border-color: #168FBF !important; }
.borderh2:hover { border-color: #168FBF !important; }

/* color 2 */

.color3 { color: #37C6FF; }
.color3h:hover { color: #37C6FF; }
.fondo3 { background-color: #37C6FF; }
.fondoh3:hover { background-color: #37C6FF; }
.border3 { border-color: #37C6FF !important; }
.borderh3:hover { border-color: #37C6FF !important; }

.cgris { color: #efefef; }
.cgrish:hover { color: #efefef; }
.fondogris { background-color: #efefef; }
.fondohgris:hover { background-color: #efefef; }



/* cabecera */

#principal { width: 100%; text-align: center; }
	
	.contenedor { position: relative; border-top: 0px solid; width: 460px; display: inline-block; margin:0 auto; background-color: rgba(255,255,255, 0.8); padding: 0px; }
	.contenedor:before { position: absolute; height: 5px; left: 0; width: 20%; content: ""; top: -5px;  }
	.contenedor:after { position: absolute; height: 5px; left: 20%; width: 20%; content: ""; top: -5px; background-color: rgba(255,255,255, 0.5);  }
	.logo { display: inline-block; margin:0; width:100%; box-sizing: border-box; }
	.logo_img { max-width: 100%; margin-bottom: 10px; }

	.login_form { margin-top: 20px; text-align: left; }
	/*.contenedor div:nth-child(2) { width: 79.5%; }
	.contenedor div:nth-child(3) { width: 19.2%; display: inline-block; }*/
	.contenedor .input { width: 100%; margin-top: 0px; padding: 12px 12px 12px 50px; }
	#bt1{box-sizing: border-box; cursor: pointer; border: none; margin: 0 auto; width: 30%; height: 52px; position: static; border-radius: 0 !important;}
	#bt{box-sizing: border-box; cursor: pointer; border: none; margin: 0 auto; width: 30%; height: 52px; position: static; border-radius: 0 !important;}

	.btn { display: block; padding: 11px 0; box-sizing: border-box; cursor: pointer; border: none; width: 100%; border-radius: 0 !important; }
	.contenedor div.button_complete { width: 100%; }

    .contenedor div:nth-child(1) {width: 100%;}
    .contenedor div:nth-child(2) {width: 100%;}
    .contenedor div:nth-child(3) {width: 100%;}   
    .contenedor div:nth-child(4) {width: 79.5%;}
    .contenedor div:nth-child(5) {width: 19.2%;display: inline-block;}

    .contenedor .input {width: 100%;padding: 12px 12px 12px 50px;}
    .contenedor div.button_complete {width: 100%;}

	.forget { display: block; width: 100%; text-align: center; margin:10px 0 5px; }

    label { position: absolute; left: 0; top: 0; width: 40px; height: 100%; }
	label:before { width: 100%; height: 100%; display: block; text-align: center; font-family: fontAwesome; line-height: 40px; font-size: 17px; }
	label.usuario:before { content: "\f007"; }
	label.contrasena:before { content: "\f023"; }
	label.email:before { content: "\f0e0"; }
    label.fa-building-o:before {content: "\f0f7";}
    label.fa-group:before {content: "\f0c0";}


@media (max-width:800px) {

	.contenedor { width: 100%; margin:0 50%; }
	.contenedor div:nth-child(2),.contenedor div:nth-child(3) { width: 100%; }
}

