/*
	Author: GAES 4 Smart Wash;
	version: 1.0;
	title: Smart Wash formularios;
	copyright: Smart Wash 2016 all rights reserved;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
 */


th { text-transform: uppercase; }
.customer_list { padding: 0 !important; }
.container_list { }

.bx-table { padding: 0 10px; border:1px solid #eee; }

.bx-table thead tr { display: table-row !important; }
.hide { display: none; }

.sidebar_list a:before {  display: inline-block; font-size: 14px; text-align:center; width: 15px; margin-right: 10px; font-family: fontAwesome; }
.customer_list a:before { content: "\f007"; }
.customer_list a:first-child:before { content: "\f0c0"; display: inline-block; font-size: 14px; text-align:center; width: 15px; margin-right: 10px; font-family: fontAwesome; }

.vehicles_list a:before { content: "\f1b9";  }
.appoinments_list a:before { content: "\f274";  }

.services_list a:before { content: "\f02c"; }

.supplieses_list a:before { content: "\f291"; }