@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,300&subset=latin,latin-ext);

a { color: #555; text-decoration: none !important; }

a, img, .submenu { -webkit-transition: all .25s;
   -moz-transition: all .25s;
    -ms-transition: all .25s;
     -o-transition: all .25s;
        transition: all .25s;
}
h1 { font-size: 25px; margin:10px 0; text-transform: uppercase; }

.button_div { display: block; width: 100%; margin: 10px 0; }
#button.btn { width: auto; display: inline-block; }

#button { display: block; border-radius: 3px; text-align: center; padding: 5px 15px; }

#button.btn-error { display: inline-block; }

/* background opacidades */

.opacidad2 { background-color: rgba(0,0,0, 0.2); }
.opacidad3 { background-color: rgba(0,0,0, 0.3); }
.opacidad4 { background-color: rgba(0,0,0, 0.4); }
.opacidad5 { background-color: rgba(0,0,0, 0.5); }

/* color blanco */

.cblanco { color:#FFF !important; }
.cblancoh:hover { color: #FFF !important; }

/* color 1 */

.color1 { color: #07303F; }
.color1h:hover { color: #07303F; }
.fondo1 { background-color: #07303F; }
.fondoh1:hover { background-color: #07303F; }
.border1 { border-color: #07303F !important; }
.borderh1:hover { border-color: #07303F !important; }

/* color 2 */

.color2 { color: #168FBF; }
.color2h:hover { color: #168FBF; }
.fondo2 { background-color: #168FBF; }
.fondoh2:hover { background-color: #168FBF; }
.border2 { border-color: #168FBF !important; }
.borderh2:hover { border-color: #168FBF !important; }

/* color 2 */

.color3 { color: #37C6FF; }
.color3h:hover { color: #37C6FF; }
.fondo3 { background-color: #37C6FF; }
.fondoh3:hover { background-color: #37C6FF; }
.border3 { border-color: #37C6FF !important; }
.borderh3:hover { border-color: #37C6FF !important; }

.cgris { color: #efefef; }
.cgrish:hover { color: #efefef; }
.fondogris { background-color: #efefef; }
.fondohgris:hover { background-color: #efefef; }
/*Colores */
.cred {
	color:red;
}